.card {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #eee;
  transition: 0.3s;
  background: white;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.info {
  padding: 10px;
}
.btn-ver {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.btn-ver:hover {
  background: #333;
}